<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211553871782-bojnoiji9p46451p8c0imgrg785r7dql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211553871782-bojnoiji9p46451p8c0imgrg785r7dql</string>
	<key>API_KEY</key>
	<string>AIzaSyAGmFmxan3o2GgufQS-190EN8PJ2mzSItk</string>
	<key>GCM_SENDER_ID</key>
	<string>211553871782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashwinr.Tinovation2019</string>
	<key>PROJECT_ID</key>
	<string>onesharedschooltinovationios</string>
	<key>STORAGE_BUCKET</key>
	<string>onesharedschooltinovationios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211553871782:ios:d1aaabc86f7554e2ee1167</string>
	<key>DATABASE_URL</key>
	<string>https://onesharedschooltinovationios.firebaseio.com</string>
</dict>
</plist>